
{% extends "base.html" %}

<!-- load gravatar  -->
{% load gravatar %}

{% block content %}
<div id="content"> 

 <div id="book"> 
   <ul> 
	 <li class="post-4398913 post type-post hentry category-it"> 
	   <div class="book-meta">
		 <div class="cover"><a href={{ book.image_src }} title={{ book.title }}><img src={{ book.image_src }} alt={{ book.title }} width="110" height="130"></a>
		 </div>	<!-- cover -->
		 <div class="info">
		   <p><span>书名：</span><a href='/download/{{ book.ISBN }}'>{{ book.title }}</a></p>
		   <p><span>作者：</span>{{ book.author }}</p><p><span>出版日期：</span>{{ book.publish_date }}</p>
		   <p><span>出版社：</span>{{ book.publisher }}</p><p><span>页数：</span>{{ book.pages }}</p>
		   <p><span>ISBN：</span>{{ book.ISBN }}</p>
		   <p><span>Tags：</span>
                      {% for tag in tags %}	
                          <li class="tags"> 
		               <a href= '/tags/{{ tag.tag }}'>{{ tag.tag }}</a>
	                  </li>
	              {% endfor %} </p>
		 </div>
		 {%  if user.is_authenticated %}
		  <form method="post" action="add_bookmark/">
			<p><input type="submit" value="收藏本书"></p>
		  </form>	
		  {% endif %}
	   </div> <!-- book-meta -->
	 </li> 
   </ul>
 </div>	<!-- book -->

 <div id="comment">
   <h3 class="title">读者对本书的看法</h3>
   {% if comments %}
   <h3 id="comments" class="title">本书有 {{ comments|length }} 条评论 </h3>
   {% endif %}
   <ol class="commentlist"> 
   {% for comment in comments %}
	<li class="comment by user {{ comment.author.username }}">
	  <div class="comment-author vcard">
		<img alt='' src='{% gravatar_url comment.author.email %}' class='avatar avatar-75 photo' height='75' width='75' />
		<cite>{{ comment.author.username }}</cite>
	  </div>
	  <div class="comment-meta commentmetadata">
		<p>{{ comment.pub_date|date:"Y年-m月-d日" }}</p>
	  <p>{{ comment.content }}</p>
	  </div> 
	</li> 
   {% endfor %}
   </ol> <!-- comment list -->
   
   {%  if user.is_authenticated %}
   <p class="notice">对本书的看法、疑惑都可以一说。</p>	
    <form method="post" action="comment/">
	  <p><textarea name="comment" id="comment" cols="100%" rows="10"></textarea></p>
	  <p><input type="submit" value="发表评论"></p>
	</form>	
	{% endif %}
 </div>	<!-- comment -->


</div> <!-- content -->

{% endblock %}

